
.title {
    padding: 5px; 
    text-align: center;
    background-size: cover;
    background: rgb(78, 77, 77); 
    color: rgb(251, 250, 252); 
    font-family: "Georgia", monospace;
    align-items: center;
    justify-content: center;
  }

.linkbar {
    overflow: visible;
    padding: 5px;
    background-color: whitesmoke;
    font-family: "Georgia", monospace;
    text-align: center; 
    border: 4px double rgb(56, 65, 141);
}

.intro {
  text-align: center;
  font-family: "Georgia", monospace;
}

* {
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.column {
    float: left;
    width: 70%;
    margin-right: auto;
    background-color: rgb(241, 240, 255);
    padding: 10px;
    font-family: "Georgia", monospace;
    border: 4px double black;
}

.column2 {
    float: right;
    width: 30%;
    background-color: rgb(241, 240, 255);
    padding: 10px;
    text-align: center;
    font-family: "Georgia", monospace;
    border: 4px double black;
}

.column3 {
  width: 100%;
  background-color: rgb(241, 240, 255);
  padding: 10px;
  font-family: "Helvetica", monospace;
  border: 4px double black;
}

.form {
    padding: 20px;
    text-align: center;
    font-family: "Georgia", monospace;
    color: black;
} 
